.table {
  border: 1px solid lightgray;

  &-wrapper {
    width: min(90%, 1280px);
    margin: 0 auto;
  }

  &__body {
    border-bottom: 1px solid lightgray;
  }
}

.th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}
